<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>local.alfred-circleci.load-cache</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/opt/alfred-circleci/bin/load_cache.sh</string>
		</array>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<key>Nice</key>
		<integer>15</integer>
		<key>StandardOutPath</key>
		<string>/Users/brian.boughton/Library/Logs/alfred_circleci.log</string>
	</dict>
</plist>
